* {
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

body.light-mode {
    background-image: url(./src/background_white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
}

body.dark-mode {
    background-image: url(./src/background_dark.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}

header {
    width: 100%;
    height: 70px;
    background-color: #645da7;
    background-image: url(./src/fundo_cabecalho2.png);
}

.logo {
    width: 60px;
    height: 60px;
    padding-top: 5px;
    padding-left: 15px;
    user-select: none;
}

.cabecalho {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    font-family: "Anta", sans-serif;
    font-weight: 30px;
    font-style: normal;
    user-select: none;
    letter-spacing: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.dropdown {
    position: absolute;
    left: 1%;
    top: 80px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #645da7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #857cd5;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.instrucoes-container {
    position: fixed;
    left: 10px;
    top: 30%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icone-instrucoes {
    background-color: #645da7;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.instrucoes {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: height 0.3s ease-in-out;
}

.instrucoes p {
    margin: 0;
}

.instrucoes-container:hover .instrucoes {
    display: block;
    width: 200px;
}

.instrucoes-container:hover .instrucoes.expandida {
    height: 110px;
    color: #645da7;
    text-align: justify;
}

.contemcaixadetexto {
    position: relative;
    left: 200px;
    top: 5px;
    padding-left: 100px;
    width: 600px;
    height: 300px;
}

.caixadetexto {
    width: 440px;
    height: 270px;
    border: none;
    padding: 5px;
    background-color: #ffffff;
    cursor: pointer;
    color: #645da7;
    font-size: 32px;
    font-weight: 400;
    font-family: "Anta", sans-serif;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.50);
    resize: none;
}

.caixadetexto::placeholder {
    color: #645da7;
}

.alerta {
    position: absolute;
    top: 370px;
    left: 300px;
    display: flex;
    color: #808080;
    padding-left: 5px;
    user-select: none;
}

.alerta img {
    margin-right: 10px;
    user-select: none;
}

.contem-botoes {
    position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
}

.btn-criptografar {
    position: absolute;
    top: -380px;
    left: 300px;
    width: 150px;
    height: 50px;
    border-radius: 24px;
    background-color: #645da7;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: "Anta", sans-serif;
    border: 1px solid #4439a6;
    margin-right: 20px;
    cursor: pointer;
}

.btn-descriptografar {
    position: absolute;
    top: -380px;
    left: 500px;
    width: 150px;
    height: 50px;
    border-radius: 24px;
    background-color: #645da7;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: "Anta", sans-serif;
    border: 1px solid #4439a6;
    cursor: pointer;
}

.secao2 {
    display: block;
    position: relative;
    width: 350px;
    height: 410px;
    right: 250px;
    top: 5px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.contemrobo {
    position: absolute;
    left: 100px;
    top: 100px;
    box-sizing: border-box;
    padding-top: 50px;
    user-select: none;
}

.contemrobo img {
    width: 150px;
    height: auto;
}

.contem-paragrafo {
    position: absolute;
    box-sizing: border-box;
    top: 570px;
    left: 40px;
    user-select: none;
}

.contem-paragrafo h3 {
    position: relative;
    top: -20px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Anta", sans-serif;
    text-align: center;
    color: #645da7;
    top: -270px;
    left: 0px;
    user-select: none;
}

.contem-paragrafo p {
    position: relative;
    top: -20px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #645da7;
    padding-top: 20px;
    top: -290px;
    left: 0px;
}

.contem-resultado {
    position: relative;
    top: 20px;
    bottom: 330px;
    width: 320px;
    height: 400px;
    padding: 2px;
    box-sizing: border-box;
    margin-left: 25px;
    overflow-wrap: break-word;
}

.contem-resultado p {
    color: #645da7;
    font-size: 25px;
}

.contem-copiar {
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}

.btn-copiar {
    position: relative;
    top: -260px;
    width: 150px;
    height: 50px;
    border-radius: 24px;
    background-color: #645da7;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Anta", sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    left: 50px;
}

.ocultar {
    display: none;
}

footer {
    background-color: #645da7;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    user-select: none;
    color: #ffffff;
}